table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.table thead th {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--addition-text);
  background: var(--table);
  padding: 12px 20px;
  height: 36px;
  text-align: left;
}

.table thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--table);
}

.date {
  font-family: var(--second-family);
}

.table tbody td {
  padding: 20px 0 0 0;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #333;
}

/*"View Details" */
.table tbody button {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--accent-color);
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
