.section {
  background-color: #d9d9d9;
  padding: 60px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.nav {
  margin-bottom: 32px;
}

.btn {
  margin-top: 80px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.headTitle {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 50px;
  color: #000;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0 16px 0;
}

.content {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: -0.02em;
}

.btnOrder {
  font-size: 24px;
  font-weight: 500;
}

.picture {
  border-radius: 4px;
  width: 424px;
  height: 400px;
}
