.container {
  max-width: 1320px;
  margin: 0 auto;
}

.innerWrapper {
  display: flex;
  gap: 24px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 28px 0 40px;
}

.link {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #545454;
}

.title {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 40px;
  margin: 40px 0 20px;
}

.table {
  max-width: 872px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  padding: 24px 0px 23px 70px;
  background: #dedede;
  border-radius: 8px 8px 0 0;
}

.tableTitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.itemInner {
  background: #f2f1f1;
  border-radius: 8px;
  padding: 30px 44px;
  margin-bottom: 100px;
}
