.block {
  background-color: #a8a8a8;
  padding: 60px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Urbanist', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
}

.untitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 117%;
}

.inner {
  max-width: 533px;
  margin-top: 24px;
}

.content {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  letter-spacing: -0.02em;
}

.checkbtn {
  margin-top: 90px;
}
