.sidebar {
  width: 224px;
  margin-top: 32px;
}

.categoryInput {
  width: 24px;
  height: 24px;
  background: #d9d9d9;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 52px;
  margin-top: -20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: 20px;
  color: #4b4b4b;
}

.sectionTitle {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
  color: #666;
  cursor: pointer;
}
