.title {
  font-family: var(--third-family);
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  color: #4d4d4d;
  margin-bottom: 12px;
}

.sidebar {
  width: 224px;
}

.categoryInput {
  min-width: 24px;
  height: 24px;
  background: #d9d9d9;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 52px;
  margin-top: 44px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  color: #4b4b4b;
}

.categoryText {
  color: #4b4b4b;
  display: block;
  max-width: 130px;
}

.sectionTitle {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
  color: #666;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 224px;
}
