.breadcrumbs {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.spanWrapper {
  display: flex;
  gap: 12px;
}

.link {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #545454;
}
