.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 0;
}

.innerAdvantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantagesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-top: 8px;
}
