.orders {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 40px;
  border-radius: 32px;
  margin-top: 32px;
  min-width: 870px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 40px;
}
