.title {
  font-size: 50px;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 54px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.data {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.block {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1320px;
  margin: 0 auto;
}
