.newsletter {
  background: #7CB184;
}

.container {
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  padding: 12px 0;
}

.title {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 50px;
  color: #1a1a1a;
}

.text {
  font-weight: 500;
  font-size: 24px;
  color: #525252;
}

.input {
  font-family: var(--font-primary);
  border: 1px solid #e6e6e6;
  border-radius: 32px;
  padding: 14px 24px;
  width: 650px;
  height: 52px;
}

.input::placeholder {
  letter-spacing: -0.02em;
  color: #808080;
}

.btn {
  position: absolute;
  border-radius: 32px;
  padding: 16px 60px;
  background: #333;
  letter-spacing: -0.02em;
  color: #fff;
  right: 0;
}

.form {
  position: relative;
}
