@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

:root {
  --font-primary: 'Quicksand', sans-serif;
  --third-family: 'Urbanist', sans-serif;
}

body {
  font-family: var(--font-primary);
}
