/* Banner.module.css */
.banner {
  background-image: url('/path-to-your-image.jpg'); /* сюди фон */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 510px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.content {
  max-width: 600px;
}

.title {
  font-weight: 300;
  font-size: 60px;
  line-height: 120%;
  color: #000;
}

.title span {
  display: block;
}

.button {
  width: 312px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000;
  cursor: pointer;
  margin-top: 48px;
  border-radius: 32px;
  padding: 12px 74px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.dot {
  width: 8px;
  height: 8px;
  background: #808080;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot:hover,
.active {
  background-color: #ffffff;
}

.slide {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slideActive {
  opacity: 1;
  position: relative;
}
